<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControl" version="3.4.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="NetLimiter" version="5.2.10" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WindowsInput" version="6.4.1" targetFramework="net462" />
  <package id="WPF-UI" version="2.1.0" targetFramework="net462" />
</packages>